<!DOCTYPE html>
<html lang="en">


    <head th:replace="~{presentation/fragmentPublic :: head}"></head>


<body>
    <section class="Inicio">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container">
                <p>
                    <img src="https://cdn-icons-png.flaticon.com/512/86/86155.png"
                         alt="icono"
                         style="width:50px;height:50px;filter: brightness(0) invert(1);">
                    <strong> Bolsa de Empleo</strong>
                </p>
                <div class="navbar-nav ms-auto align-items-center">
                    <!--Aqui llama al RootRedirectController -->
                    <a class="nav-link" th:href="@{/}">Dashboard</a>
                    <a class="nav-link" th:href="@{/}">Mis Puestos</a>
                    <a class="nav-link" th:href="@{/}">Publicar Puesto</a>
                    <a class="nav-link" th:href="@{/login}">LogOut</a>
                </div>
            </div>
        </nav>
    </section>

    <div class="container hero-content text-center">
        <p class="hero-eyebrow">Empresa:</p>
        <h1 class="hero-title">Bienvenido</h1>
    </div>

<footer th:replace="~{presentation/fragmentPublic :: footer}"></footer>
</body>
</html>