<!DOCTYPE html>
<html lang="en">
<head th:replace="~{presentation/fragmentPublic :: head}"></head>
<body>

<div>
    <input type="text" Nombre Empresa> <!--tambien username-->
    <input type="text" Localizacion>
    <input type="text" correo>
    <input type="text" telefono>
    <input type="text" descripcion>
    <!--username = nombre empresa-->
    <input type="text" clave>
    <!--Tipo = EMP--->

</div>>

<footer th:replace="~{presentation/fragmentPublic :: footer}"></footer>
</body>
</html>