<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bolsa de Empleo</title>
    <!--ICON DE LA PAGINA-->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/86/86155.png" type="image/png">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!--CSS-->

    <!--(NOTA JOSUE): copien el path de la ruta del archivo.css pero al inicio coloquen el root=/ porque si no, no les va a cargar el css-->
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">

</head>

<body>
        <!--INICIO DE LA PAGINA-->
        <section class="Inicio">
            <!--NAVBAR DE LA PAGINA-->
            <nav class="navbar navbar-expand-lg navbar-custom">
                <div class="container">
                    <p><img src="https://cdn-icons-png.flaticon.com/512/86/86155.png" alt="icono" style="width:50px;height:50px;filter: brightness(0) invert(1);"> <strong> Bolsa de Empleo</strong></p>

                    <div class="navbar-nav ms-auto align-items-center">
                        <a class="nav-link" href="#">Buscar puestos</a>
                        <a class="nav-link" href="#">Empresas</a>
                        <a class="nav-link" href="#">Habilidades</a>
                        <a class="nav-link" href="#">Login</a>
                    </div>
                </div>
            </nav>


            <!--CONTENIDO PRINCIPAL-->
            <div class="container hero-content text-center">
                <p class="hero-eyebrow">¿Buscas tu proximo gran proyecto?</p>
                <h1 class="hero-title">Encuentra tu próximo empleo</h1>
            </div>
        </section>

        <!--BUSQUEDA-->
        <section class="container busqueda-rapida">
            <div class="card p-4">
                <h5 class="mb-3 fw-bold">Búsqueda rápida de puestos</h5>
                <form class="row g-3">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Ej: Desarrollador Java, Soporte Técnico...">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary w-50">Buscar</button>
                    </div>
                </form>
            </div>
        </section>

        <!--ULTIMOS 5 PUESTOS PUBLICADOS-->


        <!--PIE DE PAGINA PUBLICA-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <strong>Bolsa de Empleo</strong><br>
                        Estudiantes de Ingenieria en Sistemas de la UNA

                    </div>
                    <div class="col-md-6 text-md-end">
                        Contacto: info@bolsaempleo.local<br>
                        Créditos: Universidad Nacional de Costa Rica
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>