


<!--PIE DE PAGINA PUBLICA-->
<footer th:fragment ="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <strong>Bolsa de Empleo</strong><br>
                Estudiantes de Ingenieria en Sistemas de la UNA

            </div>
            <div class="col-md-6 text-md-end">
                Contacto: info@bolsaempleo.local<br>
                Créditos: Universidad Nacional de Costa Rica
            </div>
        </div>
    </div>
</footer>