<!DOCTYPE html>
<html lang="en">

<head th:replace="~{presentation/fragmentPublic :: head}"></head>

<body>
<section th:replace="~{presentation/fragmentPublic :: nav-var}"></section>


        <!--BUSQUEDA-->
        <section class="container busqueda-rapida">
            <div class="card p-4">
                <h5 class="mb-3 fw-bold">Búsqueda rápida de puestos</h5>
                <form class="row g-3">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Ej: Desarrollador Java, Soporte Técnico...">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary w-50">Buscar</button>
                    </div>
                </form>
            </div>
        </section>

        <section class="contenedor-puestos">
            <h2>Últimos puestos públicos</h2>

            <div class="grid-puestos">
                <div class="card-puesto" th:each="p : ${puestos}">

                    <h3 style="font-weigh: bold;"th:text="${p.empresa != null ? p.empresa.nombre : 'Empresa'}"></h3>
                    <p class="titulo" th:text="${p.descripcion}"></p>

                    <p class="salario" th:text="'₡ ' + ${p.salario}"></p>

                    <button class="btn-detalle">Ver detalle</button>

                    <!-- detalle oculto -->
                    <div class="detalle">
                        <p><strong>Tipo:</strong> <span th:text="${p.tipo}"></span></p>
                        <p><strong>Estado:</strong> <span th:text="${p.estado}"></span></p>
                        <p><strong>Fecha:</strong> <span th:text="${p.fecha}"></span></p>
                    </div>
                </div>
            </div>
        </section>

        <!--PIE DE PAGINA PUBLICA-->
        <footer th:replace="~{presentation/fragmentPublic :: footer}"></footer>
</body>
</html>