<!DOCTYPE html>
<html lang="en">

<head th:replace="~{presentation/fragmentPublic :: head}"></head>

<body>
        <!--INICIO DE LA PAGINA-->
        <section class="Inicio">
            <!--NAVBAR DE LA PAGINA-->
            <nav class="navbar navbar-expand-lg navbar-custom">
                <div class="container">
                    <p><img src="https://cdn-icons-png.flaticon.com/512/86/86155.png" alt="icono" style="width:50px;height:50px;filter: brightness(0) invert(1);"> <strong> Bolsa de Empleo</strong></p>

                    <div class="navbar-nav ms-auto align-items-center">
                        <a class="nav-link" th:href="@{/buscaPuesto}">Buscar Puesto</a>
                        <a class="nav-link" th:href="@{/DashboardAdministrador}">DASHBOARDADMINISTRADOR</a>
                        <a class="nav-link" th:href="@{/DashboardEmpresa}">DASHBOARDEMPRESA</a>
                        <a class="nav-link" th:href="@{/DashboardOferente}">DASHBOARDOFERENTE</a>
                        <a class="nav-link" href="#">Empresas</a>
                        <a class="nav-link" href="#">Habilidades</a>
                        <a class="nav-link" th:href="@{/login}">Login</a>

                    </div>
                </div>
            </nav>


            <!--CONTENIDO PRINCIPAL-->
            <div class="container hero-content text-center">
                <p class="hero-eyebrow">¿Buscas tu proximo gran proyecto?</p>
                <h1 class="hero-title">Encuentra tu próximo empleo</h1>
            </div>
        </section>

        <!--BUSQUEDA-->
        <section class="container busqueda-rapida">
            <div class="card p-4">
                <h5 class="mb-3 fw-bold">Búsqueda rápida de puestos</h5>
                <form class="row g-3">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Ej: Desarrollador Java, Soporte Técnico...">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary w-50">Buscar</button>
                    </div>
                </form>
            </div>
        </section>



        <!--ULTIMOS 5 PUESTOS PUBLICADOS-->
        <section>
            <div class="container hero-content">
                <h1 class="hero-context">Bolsa de empleo</h1>
                <p class="hero-eyebrow">Ultimos 5 puestos</p>
            </div>
          
        </section>

        <section class="puestos recientes">
            <table class="caracteristica">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>PADRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${caracteristicas}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.nombre}"></td>
                        <td th:text="${c.padre != null ? c.padre.nombre : 'Sin padre'}"></td>
                    </tr>
                </tbody>
            </table>
        </section>


        <!--PIE DE PAGINA PUBLICA-->
        <footer th:replace="~{presentation/fragmentPublic :: footer}"></footer>
</body>
</html>